@import "./../../scss/_base.scss";

.box {
  min-height: uc(710);
}
.entry {
  margin: uc(64) auto uc(20);
  width: uc(690);
  min-height: uc(300);

  text-align: center;
  opacity: .2;

  background: #2e2e2e;

  em {
    display: block;
    padding: uc(95) 0 0;

    color: #fff;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: uc(70);
  }
  span {
    display: block;
    padding: uc(20) 0 0;

    color: #fff;
    font-size: 25px;
  }
}
[data-dpr="2"] .entry {
  em {
    font-size: 50px;
  }
  span {
    font-size: 24px;
  }
}
[data-dpr="3"] .entry {
  em {
    font-size: 75px;
  }
  span {
    font-size: 36px;
  }
}

